html {
  margin: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
}

#heading {
  text-align: center;
}

#user-input-text {
  height: 150px;
}

#validation-text {
  display: none;
  color: red;
  margin-top: 10px;
}

#system-response {
  height: 150px;
}

.devider {
  margin-top: 40px;
}

.btn {
  height: 55px;
  border-radius: 10px;
}